
@import "normalize.css";
@import "sanitize.css";

@font-face{
  font-family: 'FiraSans';
  src:  url('../../src/fonts/Fira_Sans/FiraSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: 'OpenSansCondensed';
  src:  url('../../src/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: 'SpaceMono';
  src:  url('../../src/fonts/Space_Mono/SpaceMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body { 
    //overflow-y: hidden;
    padding : 1vw;
    font-family: FiraSans;
    color : #767676;
}

